{{- if and .Values.mongoqueryExporter .Values.mongoqueryExporter.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "iap.fullname" . }}-mongodb-query-exporter
  labels:
    {{- include "iap.labels" . | nindent 4 }}
    app.kubernetes.io/component: "mongodb-query-exporter"
  annotations:
    kubernetes.io/description: "MongoDB Query Exporter Deployment for metrics collection."
    {{- include "iap.annotations" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "iap.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: "mongodb-query-exporter"
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "iap.labels" . | nindent 8 }}
        app.kubernetes.io/component: "mongodb-query-exporter"
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: ""
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: mongodb-query-exporter
        args:
          - --bind=:9412
          - --path=/metrics-mongodb
        env:
        {{- range $key, $value := .Values.mongoqueryExporter.env }}
        - name: {{ $key }}
          value: {{ $value | quote }}
        {{- end }}
        envFrom:
        - secretRef:
            name: itential-platform-secrets
        image: ghcr.io/raffis/mongodb-query-exporter:v5.1.0
        imagePullPolicy: {{ .Values.mongoqueryExporter.image.pullPolicy | default "Always" }}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: metrics
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        ports:
        - containerPort: 9412
          name: metrics
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: metrics
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        {{- if .Values.mongoqueryExporter.resources }}
        resources:
          {{- toYaml .Values.mongoqueryExporter.resources | nindent 12 }}
        {{- end }}
        volumeMounts:
        - mountPath: /etc/mongodb_query_exporter
          name: config
      volumes:
      - name: config
        configMap:
          defaultMode: 420
          {{- if .Values.mongoqueryExporter.existingConfig }}
          name: {{ .Values.mongoqueryExporter.existingConfig.name }}
          {{- else }}
          name: mongodb-query-exporter
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}